@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app {
  font-family: 'Electrolize', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

main {
  height: 100vh;
}

.container {
  height: 100vh;
  text-align: center;
  margin: 0 auto;
}
